* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../IMG/nba-Normal.jpeg') no-repeat center fixed;
    background-size: cover;
    text-align: center;
}

h1 {
    margin: 5rem;
    margin-top: 10rem;
    color: black;
    text-shadow: 3px 1px white;
}

h2 {
    margin: 5rem;
    color: black;
    text-shadow: 3px 1px white;
}

span {
    color: red;
    text-shadow: 2px 2px rgb(0, 0, 114);
}

button {
    margin-left: 1.5rem;
}


/* Dark Mode */

body.darkmode {
    background: url('../IMG/nba-Dark.jpeg') no-repeat center fixed;
    background-size: cover;
}

.darkmode button {
    color: white;
    background: black;
    border-radius: 50px;
}

.darkmode h1 {
    color: white;
    text-shadow: 3px 1px black;
}

.darkmode h2 {
    color: rgb(0, 195, 65);
    text-shadow: 3px 1px black;
}